{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Section 1 - Introduction -->
    <section class="s1">
        <div class="main-container">
            <!-- Title -->
            <div class="greeting-wrapper">
                <h1>Hi, I am Ofir Nahshoni</h1>
            </div>

            <!-- Introduction - Image & Description -->
            <div class="intro-wrapper">
                <!-- Image\s -->
                <div class="left-col">
                    <img id="profile-img" src="{% static 'images/me1.jpeg' %}">
                    <h5>Press Color to Change Theme</h5>
                    <div id="theme-options-wrapper">
                        <div data-mode="light" id="light-mode" class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                        <div data-mode="green" id="green-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>

                    <p id="settings-note">
                        Themes settings will be saved for<br />
                        your next visit
                    </p>
                </div>

                <!-- Description -->
                <div class="right-col">
                    <div id="preview">
                        <div id="corner-top-left" class="corner"></div>
                        <div id="corner-top-right" class="corner"></div>
                        <h3>What I Do ?</h3>
                        <p>
                            I am a very passionate Computer Engineering Student<br />
                            Looking for the place to launch<br />
                            my career as a software developer
                        </p>
                        <div id="corner-bottom-left" class="corner"></div>
                        <div id="corner-bottom-right" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2 - About Me -->
    <section class="s2">
        <div class="main-container">
            <div class="about-wrapper">
                <div class="about-me">
                    <h3>My Story</h3>
                    <p>I love fullstack very much!</p>
                    <p>CSS with HTML is the best!</p>

                    <hr>

                    <h4>My Skills</h4>
                    <p>FullStack Developer, focused on Django, Flask<br />
                        Micro Frameworks
                        <a target="_blank" href="{% static 'myresume.pdf' %}">
                            <button class="btn btn-primary">Download Resume</button>
                        </a>
                    </p>
                    <div id="skills">
                        <ul>
                            <li>C</li>
                            <li>C++</li>
                            <li>C#</li>
                            <li>Python</li>
                            <li>HTML5 & CSS</li>
                            <li>JavaScript</li>
                            <li>MATLAB</li>
                        </ul>
                        <ul>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>Node</li>
                            <li>React</li>
                            <li>Verilog</li>
                            <li>Raspberry PI</li>
                            <li>ESP</li>
                        </ul>
                    </div>

                </div> <!-- end div "about-me" -->

                <div class="social-links">
                    <img id="social_img" src="{% static 'images/linkedin_profile.png' %}">
                    <hr>
                    <a target="_blank" href="https://www.linkedin.com/in/ofir-nahshoni-fullstack/">My LinkedIn profile</a>
                    <hr>
                    <a target="_blank" href="https://github.com/OfirNahshoni/">My GitHub Profile</a>
                </div>

            </div> <!-- end div "about-wrapper" -->
        </div>
    </section>

    <!-- Section 3 - Some of My Projects -->
    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">Here are some of My Projects</h3>
            <div class="post-wrapper">
                {% for post in posts %}
                    <div>
                        <div class="post">
                            {% if post.thumbnail.url is not none %}
                                <img class="thumbnail" src="{{ post.thumbnail.url }}">
                            {% else %}
                                <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
                            {% endif %}
                            <div class="post-preview">
                                <h6 class="post-title">{{ post.headline }}</h6>
                                <p class="post-content">{{ post.sub_headline }}</p>
                                <hr>
                                {% if post.repo_link != '#' %}
                                    | <a href="{% url 'post' post.slug %}">More Info</a>
                                    | <a target="_blank" href="{{ post.repo_link }}">GitHub Repository</a> |
                                {% else %}
                                    | <a href="{% url 'post' post.slug %}">More Info</a> |
                                {% endif %}
                                <hr>
                                {% for tag in post.tags.all %}
                                    <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <h2>No posts found</h2>
                {% endfor %}
            <hr>
            <p align="center">
                <a href="{% url 'posts' %}">View all Projects</a>
            </p>
            </div>
            <!-- Link to see all projects -->
        </div>
    </section>

    <!-- Section 4 - Contact Me Form - Need to be a Django Form -->
    <section class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Get in touch with me</h3>
            <form id="contact-form" action="{% url 'send_email' %}" method="POST">
                {% csrf_token %}
                <label>Name:</label>
                <input class="input-field" type="text" name="name">
                <label>Subject:</label>
                <input class="input-field" type="text" name="subject">
                <label>Email:</label>
                <input class="input-field" type="text" name="email">
                <label>Message:</label>
                <textarea class="input-field" name="message"></textarea>
                <input id="submit-btn" type="submit" value="Send">
            </form>
        </div>
    </section>
{% endblock %}
