{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Notes App{% endblock %}
    
{% block content %}
    <section class="s1">
        <div class="main-container">
            <h2 align="center">{{ post.headline }}</h2>
            <h3 align="center">{{ post.sub_headline }}</h3>
            <hr>
            <p>{{ post.body|safe }}</p>
        </div>
    </section>

    <!-- Video Section -->
    <section class="s2">
        <div class="main-container">
            <div class="container" align="center">
                <div class="row">
                    <div class="col">
                        <div class="video-section">
                            {% if post.video %}
                                <video width="80%" controls id="myVideo">
                                    <source src="{{ post.video.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <h4 align="center">No video overview found</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}