{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Notes App{% endblock %}
    
{% block content %}
    <section class="s1">
        <div class="main-container">
            <h1 align="center">{{ post.headline }}</h1>
            <h3>{{ post.sub_headline }}</h3>
            <hr>
            <!-- Get in here the recorded video -->
            <div class="post-wrapper">
                <div>
                    <div class="post">
                        {% if post.thumbnail.url is not none %}
                            <img class="thumbnail" src="{{ post.thumbnail.url }}">
                        {% else %}
                            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <p>{{ post.body|safe }}</p>
        </div>
    </section>
{% endblock %}