{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Notes App{% endblock %}
    
{% block content %}
    <section class="s1">
    <div class="main-container">
        <h1>Post Title</h1>
        
        <hr>
        
        <img src="{% static 'images/notes_master_home.png' %}" width="600" height="300">
        
        <hr>

        <p>
            Web application - Backend with Flask
            and Frontend with HTML and little bit of JavaScript.
            On the Backend side I used login_required decorate to
            authentication and the flask_login module of Flask.
            All the WT-Forms (Flask Forms) and the validation
            was done with wtforms.validators module.
        </p>
    </div>
</section>
{% endblock %}